<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dívidas</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="card my-3">
        <div class="card-header">
          <h2>
            Flex - Clientes x Dívidas
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <a
                class="btn btn-primary"
                href="{% url 'dividas:nova-divida' %}"
                role="button"
                >Incluir Dívida</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-3 my-4">
              <h4>Clientes</h4>
              <table class="table table-sm table-hover" id="tbClientes">
                <thead class="thead-dark">
                  <th>Id</th>
                  <th>Nome</th>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="col-9 my-4">
              <h4>Dívidas</h4>
              <table class="table table-sm table-hover">
                <thead class="thead-dark">
                  <th>Id Cliente</th>
                  <th>Motivo</th>
                  <th>Emissão</th>
                  <th class="text-right">Valor</th>
                  <th class="text-center">Alterar</th>
                </thead>
                <tbody>
                  {% for div in dividas %}
                  <tr>
                    <td data-label="Id Cliente">
                      {{ div.id_cliente.strip }}
                    </td>
                    <td data-label="Motivo">{{ div.motivo }}</td>
                    <td data-label="Emissão">
                      {{ div.data }}
                    </td>
                    <td data-label="Valor" class="text-right">
                      R$ {{ div.valor }}
                    </td>
                    <td data-label="Alterar" class="text-center">
                      <a
                        href="{% url 'dividas:alterar-divida' div.id %}"
                        title="Alterar"
                      >
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/lista-clientes.js"></script>
  </body>
</html>
