<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nova</title>

    <link rel="shortcut icon" href="../static/img/favicon.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="card my-3">
        <div class="card-header">
          <h4 class="card-title">Incluir Dívida</h4>
        </div>
        <div class="card-body">
          <form method="POST" action=".">
            <div class="row mb-3">
              <div class="form-group form-group-sm col-md-6 col-sm-12">
                <label class="control-label" for="selCliente">Cliente</label>
                <select class="form-control" id="selCliente"></select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group form-group-sm col-md-6 col-sm-12">
                <label for="motivo">Motivo</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Motivo"
                    id="motivo"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group form-group-sm col-md-6 col-sm-12">
                <label for="valor">Valor</label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    aria-label="Valor"
                    id="valor"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group form-group-sm col-md-6 col-sm-12">
                <label for="data">Data</label>
                <div class="input-group">
                  <input
                    type="date"
                    class="form-control"
                    aria-label="Data"
                    id="data"
                  />
                </div>
              </div>
            </div>
            <button
              type="submit"
              onClick="salvar(event)"
              class="btn btn-primary"
            >
              Salvar
            </button>
            <a class="btn btn-danger" href="/" role="button">Voltar</a>
          </form>
        </div>
      </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/incluir-divida.js"></script>
  </body>
</html>
